# Data and artifacts
data/raw/*
!data/raw/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.nox/
.tox/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# ML artifacts
*.pkl
*.h5
*.keras
catboost_info/
mlruns/

# Logs
*.log
logs/

# Streamlit
.streamlit/secrets.toml
